@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'montserratbold';
    src: url('../font/montserrat-bold-webfont.woff2') format('woff2'),
         url('../font/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratlight';
    src: url('../font/montserrat-light-webfont.woff2') format('woff2'),
         url('../font/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../font/montserrat-regular-webfont.woff2') format('woff2'),
         url('../font/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background:url(../images/bg-lemurs.jpg) no-repeat;
  background-size:cover;
  font-family: 'montserratregular'!important;
  font-size:12px;
}

body.int {
	background:#fff!important;
	background-image:none;
}

.lang {
	float:right;
	margin-right:2%;
	margin-top:2%;
	margin-bottom:2%;
}

.login-page {
  max-width:360px;
  width:90%;
  padding:4% 0 0;
  margin:5% auto 0 auto;
  background:url(../images/bg-transp.png) repeat;
}

.inscript-page {
  max-width:360px;
  width:90%;
  padding:4% 0 0;
  margin:1% auto 0 auto;
  background:url(../images/bg-transp.png) repeat;
}

.form {
  position:relative;
  z-index:1;
  max-width:360px;
  margin:0 auto 100px;
  padding:10%;
  text-align:center;
}

.form input {
  font-family: 'montserratregular';
  outline:0;
  background-color:#fff!important;
  width:100%;
  border:0;
  margin:0 0 15px;
  padding:10px 15px;
  box-sizing:border-box;
  font-size:14px;
}

.form input.email {
	background-image:url(../images/mail.png);
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:45px;
}

.form input.pwd {
	background-image:url(../images/secure.png);
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:45px;
}

.form input.name {
	background-image:url(../images/user.png);
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:45px;
}

.form input.daty {
	background-image:url(../images/daty.png);
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:45px;
}

.form button {
  font-family: 'montserratregular';
  text-transform:uppercase;
  outline:0;
  background:#a38000;
  width:auto;
  padding:5% 10%;
  border:0;
  color:#FFFFFF;
  font-size:12px;
  font-weight:bold;
  -webkit-transition:all 0.3 ease;
  transition:all 0.3 ease;
  cursor:pointer;
  margin-bottom:25px;
}

.form button:hover,.form button:active,.form button:focus {
  background:#a38000;
  opacity:0.8;
}

.form .message {
  margin:15px 0 0;
  color:#fff;
  font-size:12px;
}

.form .message a {
  color:#fff;
  text-decoration:underline;
  font-size:11px;
}

.form .message a:hover {
  text-decoration:none;
}

.container {
  position:relative;
  z-index:1;
  margin:0 auto;
}

.connexion-rs {
	color:#fff;
	margin-top:40px;
}

.container.lemurs-page {
	margin-top:30px;
}

.container:before, .container:after {
  content:"";
  display:block;
  clear:both;
}

.container .info {
  margin:50px auto;
  text-align:center;
}

.container .info h1 {
  margin:0 0 15px;
  padding:0;
  font-size:36px;
  font-weight:300;
  color:#1a1a1a;
}

.container .info span {
  color:#4d4d4d;
  font-size:12px;
}

.container .info span a {
  color:#a38000;
  text-decoration:none;
}

.container .info span .fa {
  color:#a38000;
}

.clear {
	clear:both;
}

img:hover {
	opacity:0.6;
}

.left {
	float:left;
}

.right {
	float:right;
}

a {
  text-decoration:underline;
}

a:hover {
  text-decoration:none;
}

/* Navigation */
.navbar-header img {
	margin-top:-15px;
}

.navbar-header img:hover {
	opacity:1;
}

.navbar-nav {
	margin-left:100px!important;
}

.top-nav {
	font-size:11px;
	display:inline;
}

.navbar-inverse .navbar-nav > li > a {
    color: #a38000!important;
	text-transform:uppercase!important;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #fff!important;
}

.navbar-inverse .navbar-nav.top-nav > li > a {
    color: #fff!important;
	text-transform:none!important;
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: none!important;
	background: none!important;
    color: #a38000!important;
}

.navbar-nav > li > .dropdown-menu {
    padding:15px!important;
	font-size:10px!important;
	color:#999!important;
}

.navbar-nav > li > .dropdown-menu li {
    padding:7px 0!important;
	border-bottom:1px solid #CCC;
}

.navbar-nav > li > .dropdown-menu a {
    color:#999!important;
	text-decoration:none!important;
}

.navbar-nav > li > .dropdown-menu a:hover {
    color:#ccc!important;
	text-decoration:none!important;
}


li .lang {
	margin-top:17px;
}

.top-nav li a.notif {
	position:relative;
	z-index:3;
}

.top-nav li:first-child {
	margin-top:-3px;
	background:url(../images/sepa-profil.png) right center no-repeat;
}

.top-nav li {
	background:url(../images/sepa.png) right center no-repeat;
}

.top-nav li:last-child {
	background-image:none!important;
}

.top-nav .img-circle {
	width:30px!important;
	margin-right:5px;
}

.top-nav li a.notif .rond {
	background:red;
	color:#fff;
	width:15px;
	height:15px;
	font-size:9px;
	position:absolute;
	z-index:4;
	text-align:center;
	line-height:15px;
	border-radius:50%;
	top:10px;
	right:5px;
}

.slider-top {
	width:100%;
	height:430px;
	background:url(../images/slider1.png) top center no-repeat;
	background-size:cover;
	margin-top:100px;
}

/* Accueil */
.white-bg {
    background-color: #ffffff;
}

.page-heading {
    border-top: 0;
    padding: 0 10px 20px 10px;
}

.forum-post-container .media {
  margin: 10px 10px 10px 10px;
  padding: 20px 10px 20px 10px;
  border-bottom: 1px solid #f1f1f1;
}

.forum-avatar {
  float: left;
  margin-right: 20px;
  text-align: center;
  width: 110px;
}

.forum-avatar .img-circle {
  height: 48px;
  width: 48px;
}

.forum-post-info {
  padding: 9px 12px 6px 12px;
  background: #f9f9f9;
  border: 1px solid #f1f1f1;
}

.media-body > .media {
  background: #f9f9f9;
  border-radius: 3px;
  border: 1px solid #f1f1f1;
}

.forum-post-container .media-body .photos {
  margin: 10px 0;
}

.forum-photo {
  max-width: 140px;
  border-radius: 3px;
}

.forum-date {
	color:#585858;
	font-size:12px;
	margin-top:10px;
}

.media-body > .media .forum-avatar {
  width: 70px;
  margin-right: 10px;
}

.media-body > .media .forum-avatar .img-circle {
  height: 38px;
  width: 38px;
}

.mid-icon {
  font-size: 66px;
}

.forum-item {
  margin: 10px 0;
  padding: 15px 20px;
  border: 1px solid #d7d7d7;
  background:#ede9e9;
}

.views-number {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background:url(../images/bulle.png) center no-repeat;
  width:60px;
  height:40px;
  display:block;
  padding-top:8px;
  color:#878787;
}

.forum-info small {
	font-size:10px;
}

.vue {
	text-align:center;
	width:100%;
}

.forum-container,
.forum-post-container {
  
}

.forum-item small {
  color: #585858;
}

.forum-item .forum-sub-title {
  color: #585858;
  margin-left: 50px;
  margin-top:10px;
  font-size:12px;
  width:80%;
}

.forum-item .forum-user-info {
	
}

.forum-item .forum-user-info .img-circle {
	width:30px!important;
	float:left;
}

.forum-item .reponse-user {
	font-size:10px;
	float:left;
	margin-left:10px;
}

.forum-item .reponse-user a {
	text-decoration:none;
	color: #a38000;
	font-family: 'montserratbold';
}

.forum-profil .reponse-user {
	font-size:11px;
	text-align:center;
	width:100%;
	margin-left:0;
}

.forum-profil .reponse-user a {
	text-decoration:none;
	color: #a38000;
	font-family: 'montserratregular';
}

.forum-title {
  margin: 15px 0 15px 0;
}

.forum-title h2 {
	color: #a38000;
	text-transform:uppercase;
	font-size:20px;
	background:url(../images/icon-post.png) left center no-repeat;
	padding:10px 0 10px 40px;
}

.forum-info {
  text-align: center;
  padding:0!important;
}

.forum-desc {
  color: #999;
}

.forum-profil {
  float: left;
  margin-right: 20px;
  text-align: center;
  width:80px;
}

.img-circle {
	width:60px!important;
}

a.forum-item-title {
  color: #000!important;
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.forum-title .add-quest {
	display:block;
	width:auto;
	padding:10px 10px 10px 40px;
	color:#fff!important;
	text-transform:uppercase;
	text-decoration:none;
	background-color:#a38000;
	background-image:url(../images/icon-add.png);
	background-repeat:no-repeat;
	background-position:10px center;
	cursor:pointer;
	border-radius:3px;
	font-size:14px;
}

a.forum-item-title:hover {
  color: inherit;
}

.forum-icon .fa {
  font-size: 30px;
  margin-top: 8px;
  color: #a38000;
}

.forum-item.active .fa {
  color: #a38000;
}

.forum-item.active a.forum-item-title {
  color: #000;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.ibox.collapsed .ibox-content {
  display: none;
}

.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}

.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}

.ibox:after,
.ibox:before {
  display: table;
}

.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}

.message-input {
    height: 90px !important;
}

.form-control, .single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}

.text-navy {
    color: #1ab394;
}

.mid-icon {
    font-size: 66px !important;
}

.m-b-sm {
    margin-bottom: 10px;
}

/* Pagination */
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus,
.pagination > li > a:hover  {
    background-color: #a38000!important;
    border-color: #a38000!important;
    color: #fff;
}

.pagination > li > a, 
.pagination > li > span {
    background-color: #c5c3c3!important;
    border: 0!important;
	border-radius:3px!important;
    color: #fff!important;
    margin: 0 3px;
	font-size:11px!important;
}

/* Sidebar */
.sidebar-title {
  margin: 15px 0 15px 0;
}

.sidebar-title h2 {
	color: #000;
	text-transform:uppercase;
	font-size:14px;
	padding:10px 0 10px 40px;
}

.sidebar-title h2.users-connect {
	background:url(../images/icon-connect.png) left center no-repeat;
}

.sidebar-title h2.last-quest {
	background:url(../images/icon-post.png) left center no-repeat;
}

.sidebar-title h2.thema {
	background:url(../images/icon-thema.png) left center no-repeat;
}

.sidebar-title h2.vidaka {
	background:url(../images/icon-photo.png) left center no-repeat;
}

.thematique .pull-right {
	background-color: #a38000!important;
	border-radius:10px;
	width:auto;
	text-align:center;
	color:#fff;
	padding:0 3% 0 5%;
}

/* Connectés */
.list-group {
	border:1px solid #d7d7d7;
	background:#f7f5f5;
}

.list-group.morea {
	border:0;
	background:#f7f5f5;
}

.list-group-item:first-child,
.list-group-item:last-child {
	border:0!important;
}

.page-people-directory .people-group .media img.img-circle,
.media .img-circle {
    width: 30px!important;
}

.people-group .list-group-item {
	border:0!important;
	font-size:12px;
}

.membres-connectes {
	border:1px solid #d7d7d7;
	padding-bottom:40px;
	position:relative;
}

.membres-connectes .more {
	background-color: #a38000!important;
	border-radius:10px;
	width:25px;
	text-align:center;
	color:#fff;
	padding:0 3% 0 3%;
	display:block;
	margin-bottom:15px;
	position:absolute;
	bottom:15px;
	right:15px;
}

.membres-connectes .more a,
.membres-connectes .more a:hover {
	text-decoration:none;
}

.people-group .list-group-item .media {
	border-bottom:1px solid #d7d7d7!important;
	padding-bottom:10px;
}

.people-group .list-group-item:last-child .media {
	border-bottom:0!important;
}

.page-people-directory .people-group .list-group-item {
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    margin: 0;
    border-width: 0;
}

.page-people-directory .people-group .media-heading {
    margin-top: 5px;
}

.page-people-directory .people-group .media-heading,
.page-people-directory .people-group .media-body {
    line-height: normal;
}

.media-body span {
	color: #a38000!important;
}

.media .pull-left img {
	position:relative;
}

.media .pull-left .notif-connect {
	position:absolute;
	width:8px;
	height:8px;
	background:#690;
	top:10px;
	left:35px;
	border-radius:50%;
}

.img-responsive {
}

.popup-gallery {
	padding:5% 10%;
}

.popup-gallery a img {
    margin: 8px;
    width:50px;
    height:auto;
    display: inline-block;
    line-height: 1.42857143;
    background-color: #fff;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.popup-gallery a img:hover {
	opacity: 0.8;
	filter: alpha(opacity=80); /* For IE8 and earlier */
}

.photos-videos {
	border:1px solid #d7d7d7;
	background:#f7f5f5;
}

.photos-videos a {
	position:relative;
	z-index:1;
	display:inline-block;
}

.photos-videos .video {
	top:39%;
	left:35%;
	position:absolute;
	z-index:2;
	width:19px;
	height:19px;
	background:url(../images/icon-vidaka.png) no-repeat;
}

footer {
	background:#282727;
	padding:30px 0 0 0;
}

footer li {
	list-style:none;
	font-size:12px;
}

footer a {
	color:#fff!important;
	text-decoration:none!important;
}

footer .copy {
	text-align:center;
	padding:15px 0;
	background:#000;
	margin-top:25px;
	font-size:12px;
	color:#282727;
}

/* Responsive */

@media(max-width:992px) {
  .forum-desc {
    float: none !important;
  }
  
  .forum-info {
		margin: 15px 0 10px 0;
		display: none;
	  }
}

@media(max-width:767px) {
    
}

@media(max-width:480px) {
	.img-responsive {
		width:25%;
	}
	
	.connexion-rs {
		margin-top:10px;
	}
	
	body .form {
		font-size:11px;
	}
	
	.form button {
		margin-bottom:0;
		font-size:12px;
	}
	
	.form input {
		font-size:12px;
	}
	
	body {
		background-size:auto 100%!important;
	}
	
	.lang {
		float: none;
		margin: 5% auto !important;
		text-align: center;
	}
	
	.forum-profil {
		width:100%;
		float:none;
		text-align:center;
	}
	
	.forum-item .forum-sub-title {
		margin-left:0;
		width:100%;
	}
	
	.forum-title .pull-right {
		float:none!important;
	}
	
	footer img {
		width:150%!important;
	}
}
